@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* --- 浅色模式 (Light Mode) --- */
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);

  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);

  --color-primary: oklch(0.511 0.262 276.966);
  --color-primary-foreground: oklch(0.985 0 0);

  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);

  --color-border: oklch(0.922 0 0);
  --color-input: oklch(0.922 0 0);

  --skillhub-glow: rgba(79, 70, 229, 0.1);

  /* 报错的颜色 */
  --color-error: oklch(0.98 0.05 0);
  /* 警告的颜色 */
  --color-warning: oklch(0.98 0.5 0);
  /* 成功的颜色 */
  --color-success: oklch(0.98 0.5 0);
}

.dark {
  /* --- 深色模式 (Dark Mode) --- */
  --color-background: oklch(0.129 0 0);
  --color-foreground: oklch(0.985 0 0);

  --color-card: oklch(0.145 0 0);
  --color-card-foreground: oklch(0.985 0 0);

  --color-primary: oklch(0.58 0.23 268);
  --color-primary-foreground: oklch(0.985 0 0);

  --color-muted: oklch(0.25 0 0);
  --color-muted-foreground: oklch(0.7 0 0);

  --color-border: oklch(0.25 0 0);
  --color-input: oklch(0.25 0 0);

  --skillhub-glow: rgba(99, 102, 241, 0.3);

  /* 错误颜色 */
  --color-error: oklch(62.748% 0.19654 15.785);
  /* 警告颜色 */
  --color-warning: oklch(0.98 0.5 0);
  /* 成功颜色 */
  --color-success: oklch(0.98 0.5 0);
}

body {
  font-family: "Inter", "Noto Sans SC", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.text-glow {
  text-shadow: 0 0 20px var(--skillhub-glow);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-muted);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
